<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous">
    </script>
</head>

<body>
    <!-- bagian navigator -->
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand">Warung Bu shinta</a>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <!-- bagian samping  -->
    <div class="row">
        <div class="col-4">
            <div id="list-example" class="list-group">
                <a class="list-group-item list-group-item-action" href="#list-item-1">Item 1</a>
                <a class="list-group-item list-group-item-action" href="#list-item-2">Item 2</a>
                <a class="list-group-item list-group-item-action" href="#list-item-3">Item 3</a>
                <a class="list-group-item list-group-item-action" href="#list-item-4">Item 4</a>
            </div>
        </div>
        <div class="col-8">
            <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true"
                class="scrollspy-example" tabindex="0">
                <h4 id="list-item-1">Item 1</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim sequi asperiores commodi quae maiores
                    iusto illum voluptatem officiis nemo facilis? Totam quam distinctio perspiciatis recusandae,
                    sapiente quisquam tempora. Consequatur, architecto!</p>
                <h4 id="list-item-2">Item 2</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est sed repellat alias minima unde veniam
                    necessitatibus voluptate! Architecto, sequi id perspiciatis quod hic, optio quae molestiae et
                    reprehenderit, tempore laborum.</p>
                <h4 id="list-item-3">Item 3</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam dolorum hic nemo voluptatem
                    dignissimos quidem, sunt facilis, autem cum accusamus a impedit rerum totam nihil, numquam vitae
                    natus odit nobis magni quisquam voluptates atque. Aspernatur obcaecati at rerum cumque. Consectetur
                    corporis inventore harum corrupti cumque excepturi neque voluptatibus exercitationem voluptate?</p>
                <h4 id="list-item-4">Item 4</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, dolores illo dolorum nulla eaque
                    veritatis laudantium autem atque neque rerum numquam quae modi delectus quia, perferendis distinctio
                    fuga sint enim vel eius ducimus fugit cupiditate! Eum ea voluptatem modi quod voluptates non unde
                    consequuntur adipisci ab eius? Amet aliquid molestiae delectus? Architecto, non. Laborum at aliquam
                    vero tenetur officia dolores. Molestias quas, explicabo est suscipit placeat incidunt aliquam
                    deserunt adipisci, voluptate, culpa in quo numquam doloremque ipsa molestiae quia nostrum voluptates
                    illo? Quaerat, ipsum labore nemo expedita aliquam minima rerum doloribus fuga, eum cumque
                    voluptatem. Error cumque earum voluptates deserunt.</p>
            </div>
        </div>
    </div>
</body>

</html>